@(page: String)

@main(page) {
	<div class="row">
		<div class="span6 offset3 well">
			<iframe width="560" height="315" src="http://www.youtube-nocookie.com/embed/-xLUEMj6cwA" frameborder="0" allowfullscreen>
			</iframe>
				<blockquote>The inspiration for the name comes from the excellent Monty Python's Life of Brian</blockquote>
		</div>
	</div>
	<div class="row">
		<div class="span6 offset3 well">
			<h2 class="text-center">Blessed are the Cheesemakers</h2>
			<dl class="dl-horizontal text-center">
  				<dt>Created By:</dt>
  				<dd>Andy Knight (ilkelma)</dd>
  				<dt>Using:</dt>
  				<dd>
  				<a href="http://www.playframework.com/">Play! Framework</a>, 
  				<a href="http://twitter.github.io/bootstrap/">Twitter Bootstrap</a>, 
  				<a href="http://www.jquery.com/">jQuery</a></dd>
  				<dt>UI/UX Consultant:</dt>
  				<dd>Mrs. Knight</dd>
			</dl>
		</div>
	</div>

}