@(page: String)(content: Html)

<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>@Messages("app.pageTitle", page)</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="@routes.Assets.at("bootstrap/css/bootstrap.css")" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
        background-image: url("@routes.Assets.at("images/cave.jpg")");
        background-size: 100%;
      }
    </style>
    <link href="@routes.Assets.at("bootstrap/css/bootstrap-responsive.css")" 
              rel="stylesheet">
    <link href="@routes.Assets.at("/images/favicon.ico")" rel="shortcut icon">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js")"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="@routes.Application.index">B@@C</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li @if(page == "Home"){ class="active" }><a href="@routes.Application.index">Home</a></li>
              <li @if(page == "About"){ class="active" }><a href="@routes.Application.about">About</a></li>
              <li @if(page == "Contact"){ class="active" }><a href="@routes.Application.contact">Contact</a></li>
              @if(session().get("email")) {
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="@routes.Profiles.index">Users</a></li>
                  <li><a href="@routes.Cheeses.index">Cheeses</a></li>
                  <li><a href="@routes.Caves.index">Caves</a></li>
                </ul>
              </li>
              }
            </ul>
            <ul class="navbar-form pull-right">
            @if(!session().get("email")) {
              <li>
                <button data-remote="@routes.Application.login" data-toggle="modal"
                        data-target="#loginModal" class="btn">
                  Sign in
                </button>
              </li>
           	} else {
         			<li>
                <a href="@routes.Profiles.getByEmail(session().get("email"))">
                  @session().get("email")
                </a>
              </li>
              <li><a href="@routes.Application.logout" class="btn">Logout</a></li>
           	}
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      @content
      
      <hr>

      <footer class="well well-small">
        <p>&copy; Kcina.net 2013</p>
      </footer>

    </div> <!-- /container -->
    <div id="loginModal" class="modal hide fade" tabindex="-1" role="dialog" 
          aria-labelledby="loginModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="loginModalLabel">Sign up!</h3>
      </div>
      <div class="modal-body">
      </div>
    </div>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")"></script>
    <script src="@routes.Assets.at("bootstrap/js/bootstrap.js")"></script>
    <script src="@routes.Assets.at("javascripts/utils.js")"></script>
    <script src="@routes.Assets.at("javascripts/init-utils.js")"></script>
  </body>
</html>