@(form: Form[Application.Register])

@main("Register") {
@views.html.components.pageHeader("Sign up here!")
<div class="row">
	<div class="span3 offset4 well" id="register-container">
	@helper.form(routes.Application.register) {
		@if(form.hasGlobalErrors) {
			<p class="error">
				@form.globalError.message
			</p>
		}
		<p>
			<input type="email" name="email" placeholder="Email" value="@form("email").value">
		</p>
		<p>
			<input type="text" name="name" placeholder="Name" value="@form("name").value">
		</p>
		<p>
			<input type="password" name="password" placeholder="Password">
		</p>
		<p>
			<button class="btn btn-primary pull-right" id="sign-up-button" type="submit">Sign Up</button>
		</p> 
	}
	</div>
</div>
}