@(form: Form[Application.Register])
@helper.form(routes.Application.register) {
		@if(form.hasGlobalErrors) {
			<p class="error">
				@form.globalError.message
			</p>
		}
		<p>
			<input type="email" name="email" placeholder="Email" value="@form("email").value">
		</p>
		<p>
			<input type="text" name="name" placeholder="Name" value="@form("name").value">
		</p>
		<p>
			<input type="password" name="password" placeholder="Password">
		</p>
		<p>
			<button class="btn btn-primary" type="submit">Sign Up</button>
		</p> 
	}